body {
background-color: lightblue;
}

h1 {
color: navy;
margin-left: 20px;
}
.myButtons {
}
.top-bar {
    background-image: url('https://media.licdn.com/dms/image/D4E16AQHaRMA0N7LoCg/profile-displaybackgroundimage-shrink_350_1400/0/1665476359927?e=1678924800&v=beta&t=hSoo5vxizqzzG89X_HIWpTBB5uCe506srVKNoN8ob2o');
    height: 200px;
  }

  ul{
    list-style-type: none;
    padding-left: 0px;
}


li {
    margin-bottom: 10px;

    display: grid; /* Set the li elements to display as grid containers */
    grid-template-columns: 1fr auto; /* Define the grid layout with 1 column for the text and 1 column for the checkmark */
  }

i.fa-check {
    color: green;
    margin-right: 200px;
}
.modal-body > * {
    border: 1px solid black; /* Add a 1px solid black border to all direct children of the modal body */
    padding: 10px; /* Add some padding to the elements */
    margin-bottom: 10px; /* Add some margin bottom to the elements */
  }
  .gradient-custom-2 {
    background-image: url(https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg);
    background-size: cover;
  }